.firewatch{ 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.charts{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	width: 75%;
}
.charts > div{ width: 33%; text-align:center;}
.charts > div > span { width: 100%; }
.charts > div > span > table{ margin:0 auto!important; }

.image{ width:25%; }
.image img{ width: 100%; }

@media (max-width: 1200px){
	.charts{ width: 100%; }
	.image{ width: 100%; }
}