.firewatch{ 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.charts{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	width: 75%;
}
.charts > div{ width: 33%; text-align:center;}
.charts > div > span { width: 100%; }
.charts > div > span > table{ margin:0 auto!important; }

.image{ width:25%; }
.image img{ width: 100%; }

@media (max-width: 1200px){
	.charts{ width: 100%; margin-bottom:.5em; }
	.image{ width: 100%; }
}
@media (max-width: 680px){
	.charts{ -webkit-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
	.charts > div{ width: 50%; margin-bottom:.5em; }
}
@media (max-width: 475px){
	.charts > div{ width: 100%; }
}